EDITOR_PAGE_IMAGE=123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/prod-editor-page:latest
EDITOR_PAGE_PROD_PORT=8081
VITE_GATEWAY_BASE_URL=https://api.myeditor.n-e.kr
VITE_API_BASE_URL=https://api.myeditor.n-e.kr
VITE_START_FRONTEND_URL=https://myeditor.n-e.kr
VITE_SITE_URL=https://editor.myeditor.n-e.kr
VITE_POST_AUTH_REDIRECT_URL=https://editor.myeditor.n-e.kr
VITE_PORT=5174
VITE_ENABLE_REMOTE_DOCS=true
