.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(var(--color-text-rgb), 0.5);
    text-align: center;
    gap: var(--base-gap);
}

.homeLink {
    position: relative;
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--color-primary);
    border-radius: var(--base-radius);
    padding: 16px 24px;
    z-index: var(--base-z-index);
    cursor: pointer;
    transition: 0.3s;
}

.homeLink:hover {
    transform: translateY(-1px);
}
